@charset "UTF-8";
/* CSS Document */
body {
background-color: #E38480;	
}

.FirstCircle {
	background: #FDC68B;
	padding: 20px;
	margin: 10px;
	width:205px;
	height: 205px;
	border-radius: 205px;
	position: absolute;
	top: 100px;
	left: 200px;
}

.SecondCircle {
	background: #FDC68B;
	width: 280px;
    height: 250px;
	border-radius: 280px / 250px;
	position: absolute;
	top: 110px;
	left: 200px;
}


.FirstEar {
	position: relative;
	background-color: #FDC68B;
	text-align: left;
}
.FirstEar:before,
.FirstEar:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.FirstEar,
.FirstEar:before,
.FirstEar:after {
	width:  6em;
	height: 6em;
	border-top-right-radius: 50%;
}

.FirstEar {
	transform: rotate(-95deg) skewX(-30deg) scale(1,.866);
}
.FirstEar:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.FirstEar:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.FirstEar {
	top: 70px;
	left: 190px;
}

.SecondEar {
	position: relative;
	background-color: #FDC68B;
	text-align: left;
}
.SecondEar:before,
.SecondEar:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.SecondEar,
.SecondEar:before,
.SecondEar:after {
	width:  5em;
	height: 5em;
	border-top-right-radius: 50%;
}

.SecondEar {
	transform: rotate(-145deg) skewX(-30deg) scale(1,.866);
}
.SecondEar:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.SecondEar:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.SecondEar {
	top: -10px;
	left: 356px;
}

.OneTriangle {
	position: relative;
	background-color: #E38480;
	text-align: left;
}
.OneTriangle:before,
.OneTriangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.OneTriangle,
.OneTriangle:before,
.OneTriangle:after {
	width:  2.5em;
	height: 2.5em;
	border-top-right-radius: 50%;
}

.OneTriangle {
	transform: rotate(-95deg) skewX(-30deg) scale(1,.866);
}
.OneTriangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.OneTriangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.OneTriangle {
	top: -84px;
	left: 210px;
}

.TwoTriangle {
	position: relative;
	background-color: #E38480;
	text-align: left;
}
.TwoTriangle:before,
.TwoTriangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.TwoTriangle,
.TwoTriangle:before,
.TwoTriangle:after {
	width:  2.5em;
	height: 2.5em;
	border-top-right-radius: 50%;
}

.TwoTriangle {
	transform: rotate(-145deg) skewX(-30deg) scale(1,.866);
}
.TwoTriangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.TwoTriangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.TwoTriangle {
	top: -115px;
	left: 395px;
}

.FirstEye {
	width: 35px;
    height: 45px;
    background: black;
    border-radius: 35px / 45px;
	position: absolute;
	top: 190px;
	left: 275px;
}

.SecondEye {
	width: 35px;
    height: 45px;
    background: black;
    border-radius: 35px / 45px;
	position: absolute;
	top: 192px;
	left: 375px;
}

.PupilOne {
	background: #FFF;
	width: 10px;
	height: 10px;
	border-radius: 205px;
	position: absolute;
	top: 199px;
	left: 283px;
}

.PupilTwo {
	background: #FFF;
	width: 10px;
	height: 10px;
	border-radius: 205px;
	position: absolute;
	top: 200px;
	left: 383px;
}

.PupilThree {
	background: #FFF;
	width: 18px;
	height: 18px;
	border-radius: 205px;
	position: absolute;
	top: 212px;
	left: 386px;
}

.PupilFour {
	background: #FFF;
	width: 18px;
	height: 18px;
	border-radius: 205px;
	position: absolute;
	top: 211px;
	left: 285px;
}

.Nose {
    position: relative;
	background-color: #E38480;
	text-align: left;
}
.Nose:before,
.Nose:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.Nose,
.Nose:before,
.Nose:after {
	width:  1em;
	height: 1em;
	border-top-right-radius: 90%;
}

.Nose {
	transform: rotate(-120deg) skewX(-30deg) scale(1,.866);
}
.Nose:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.Nose:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.Nose {
  top: -22px;
  left: 322px;
  animation-name: nose;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes nose {
  0%   {top: -22px;
  left: 322px;}
  25%  {top: -22px;
  left: 323px;}
  50%  {top: -22px;
  left: 321px;}
  75% {top: -22px;
  left: 320px;}
  100% {top: -22px;
  left: 322px;}
}


.Dot {
  background: #FFF;
  width: 6px;
  height: 6px;
  border-radius: 205px;
  position: absolute;
  top: 247px;
  left: 334px;
  animation-name: dot;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes dot {
  0%   {top: 247px;
  left: 334px;}
  25%  {top: 247px;
  left: 335px;}
  50%  {top: 247px;
  left: 333px;}
  75% {top: 247px;
  left: 332px;}
  100% {top: 247px;
  left: 334px;}
}
	
.Mouth {
  border-left-style: solid;
  border-width: 2px;
  border-color: #E38480;
  height: 15px;
  position: absolute;
  top: 263px;
  left: 341px;
  animation-name: mouth;
  animation-duration: 0.3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes mouth {
  0%   {top: 263px;
  left: 341px;}
  25%  {top: 263px;
  left: 342px;}
  50%  {top: 263px;
  left: 340px;}
  75% {top: 263px;
  left: 339px;}
  100% {top: 263px;
  left: 341px;}
}

.WhiskerOne {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 244px;
  left: 171px;	
  animation-name: whisker1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker1 {
  0%   {top: 244px;
  left: 171px;}
  25%  {top: 245px;
  left: 171px;}
  50%  {top: 243px;
  left: 171px;}
  75% {top: 242px;
  left: 171px;}
  100% {top: 244px;
  left: 171px;}	
}

.WhiskerTwo {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 259px;
  left: 171px;	
  animation-name: whisker2;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker2 {
  0%   {top: 259px;
  left: 171px;}
  25%  {top: 260px;
  left: 171px;}
  50%  {top: 258px;
  left: 171px;}
  75% {top: 257px;
  left: 171px;}
  100% {top: 259px;
  left: 171px;}	
}

.WhiskerThree {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 275px;
  left: 171px;
  animation-name: whisker3;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker3 {
  0%   {top: 275px;
  left: 171px;}
  25%  {top: 276px;
  left: 171px;}
  50%  {top: 274px;
  left: 171px;}
  75% {top: 273px;
  left: 171px;}
  100% {top: 275px;
  left: 171px;}	
}

.WhiskerFour {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 276px;
  left: 385px;	
  animation-name: whisker4;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker4 {
  0%   {top: 276px;
  left: 385px;}
  25%  {top: 277px;
  left: 385px;}
  50%  {top: 275px;
  left: 385px;}
  75% {top: 274px;
  left: 385px;}
  100% {top: 276px;
  left: 385px;}	
}

.WhiskerFive {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 260px;
  left: 385px;	
  animation-name: whisker5;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker5 {
  0%   {top: 260px;
  left: 385px;}
  25%  {top: 261px;
  left: 385px;}
  50%  {top: 259px;
  left: 385px;}
  75% {top: 258px;
  left: 385px;}
  100% {top: 260px;
  left: 385px;}	
}

.WhiskerSix {
  width: 120px; 
  height: 100px;  
  border: solid 1px;
  border-color: #FFF transparent transparent transparent;
  border-radius: 140%/100px 100px 0 0;
  position: absolute;
  top: 245px;
  left: 385px;	
animation-name: whisker6;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
 
 
  @-webkit-keyframes whisker6 {
  0%   {top: 245px;
  left: 385px;}
  25%  {top: 246px;
  left: 385px;}
  50%  {top: 244px;
  left: 385px;}
  75% {top: 243px;
  left: 385px;}
  100% {top: 245px;
  left: 385px;}		
}


