@charset "UTF-8";
/* CSS Document */

body {
background-color: #7A8EAE;
}

.inputRow {
margin: 10px;
margin-left: 0px;
}

input {
	display: inline-block;
	border: none;
	outline: 0;
	color: #423E3F;
	background-color: #BFD6EF;
	border-radius: 0px;
	width: 90px;
	height: 80px;
	float: left;
	font-size: 15px;
	margin: 0px;
	
	}
.operator {
	background-color: #9EB8E0;
}

.simple {
background-color: #9EB8E0;	
border-radius: 0px 0px 0px 25px;	
}

.divide {
background-color: #9EB8E0;	
border-radius: 0px 0px 25px 0px;	
}

#display {
	width: 360px;
	font-size: 30px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	border-radius: 25px 25px 0px 0px;
	background-color: #ECF0F9;
	margin: center;
	display: inline-block;
	float: left;
	}

#myCalculator{
	align-content: center;
	width: 400px;
	margin: auto;
	padding-top: 150px;
	}